a:hover
{
	text-decoration: none;
}

.movie
{
	color: #333333;
}

.movie:hover
{
	color: #bf3030;
}

.well:hover
{
	background-color: #eeeeee;
}

ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}