html, body { height: 100%; }

body
{
	background: url('../img/striped_lens.png');
}

footer {
	padding: 0px;
	margin: 0px;
	height: 60px;
	background-color: #f5f5f5;
}

footer ul
{
	padding-top: 20px;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.push { height: 100px; } 

.wrap > section {
	padding-top: 40px;
}

.well
{
	text-align: center;
	background-color: #cccccc;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.container-fluid
{
	max-width: 940px;
	margin: 0px auto;
}
